/*CSS comment*/
body{
background: url("https://i.pinimg.com/736x/bd/46/35/bd463547b9ae986ba4d44d717828eb09.jpg") left top;
opacity: 0.9
}

.nameOfAnimeColor{
color:yellow;
}

table, label{
color:red;
}

h1{
color:red;
background-color:white;
border: 6px ridge rgb(255,155,0);
border-radius: 10px;
}

table, th, td{
border: 6px solid rgb(0,0,0);
border-collapse: collapse;


}
